dist/
node_modules/*
.vscode/
.idea/
.env*
*ignore
.eslintrc-auto-import.json
.eslintrc.cjs
.husky
*.svg
/src/typings/auto-imports.d.ts
/src/typings/components.d.ts
/src/types/auto-imports.d.ts
/src/types/components.d.ts
public/
.editorconfig
.gitattributes
sbin/*.bat
sbin/*.sh
tests/e2e/reports/
playwright-report/
test-results/
tests/e2e/Test_Cases/**/test-data/*.csv
tests/e2e/Test_Cases/**/test-data/*.xlsx
tests/e2e/Test_Cases/**/test-data/*.xls
tests/e2e/Test_Cases/**/test-data/*.tsfile
