.monitor-chart-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.monitor-chart-box-4{
  width: calc((100% - 48px) / 4);
  margin: 12px 16px 0 0;
  height: 258px;
  border-radius: 2px;
  border: 1px solid #DFE1ED;
  box-sizing: border-box;

  &:nth-of-type(4n) {
    margin-right: 0;
  }
}

.monitor-chart-box-3{
  width: calc((100% - 32px) / 3);
  margin: 12px 16px 0 0;
  height: 258px;
  border-radius: 2px;
  border: 1px solid #DFE1ED;
  box-sizing: border-box;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.monitor-chart-box-2{
  width: calc((100% - 16px) / 2);
  margin: 12px 16px 0 0;
  height: 258px;
  border-radius: 2px;
  border: 1px solid #DFE1ED;
  box-sizing: border-box;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.monitor-chart-box-media{
  width: calc((100% - 48px) / 4);
  margin: 12px 16px 0 0;
  height: 258px;
  border-radius: 2px;
  border: 1px solid #DFE1ED;
  box-sizing: border-box;

  &:nth-of-type(4n) {
    margin-right: 0;
  }
}

@media (width <=1400px) {
  .monitor-chart-box-media{
    width: calc((100% - 32px) / 3);
    margin: 12px 16px 0 0;
    height: 258px;
    border-radius: 2px;
    border: 1px solid #DFE1ED;
    box-sizing: border-box;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:nth-of-type(4n) {
      margin-right: 16px;
    }
  }
}

.monitor-chart-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.monitor-info-module-title{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #131926;
  text-align: center;
  margin: 14px 0 4px;
}

.monitor-module-title-box{
  display: flex;

  .monitor-info-title{
    flex: 1;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #424561;
  }
}

.monitor-module-legend-box{
  display: flex;
  justify-content: center;

  .monitor-info-legend{
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #424561;
    display: flex;
    align-items: center;
    justify-content: center;

    .legeng-icon{
      width: 12px;
      height: 12px;
      border-radius: 2px;
      margin-right: 8px;
    }
  }
}

.monitor-info-list{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitor-info-module-box{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .monitor-info-module-text{
    font-size: 72px;
    font-weight: 700;

    // line-height: 105px;
    color: #495AD4;
  }

  .monitor-info-module-unit{
    font-size: 24px;
    padding-left: 4px;
  }
}

.chart-container-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}