// import dark theme
// @use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

/** abstracts **/

@import "abstracts/variables";

/** base **/

@import "base/base";
@import "base/reset";

/** el-fix **/

@import "element/index";

#app {
  width: 100%;
  height: 100%;
}

.page-container {
  padding: 12px;
}

.operate-details {
  display: flex;
  justify-content: space-between;
}

.table-wrapper {
  margin: 8px 0;
}

.paination-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-empty-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;

  .data-empty-img{
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }

  .data-empty-text{
    font-size: 14px;
    color: #131926;
    line-height: 21px;
  }
}