.el-button {
  &:focus-visible {
    outline: none !important;
  }

  line-height: 18px !important;
  height: 28px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  min-width: 56px;

  --el-font-size-base: 12px;
  --el-border-radius-base: 2px;

  &.is-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: auto;

    &:focus {
      color: #495ad4 !important;
    }

    &:not(.is-disabled):hover {
      text-decoration: underline;
    }

    &:not(.is-disabled):hover,
    &:not(.is-disabled):focus {
      border-color: transparent !important;
      background-color: transparent !important;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      opacity: 0.8;
    }

    .el-button__text--expand {
      letter-spacing: 0 !important;
      margin-right: 0 !important;
    }
  }
}

.el-button--default {
  &:focus {
    color: var(--el-button-text-color) !important;
    border-color: var(--el-button-border-color) !important;
    background-color: var(--el-button-bg-color) !important;
    outline: none;
  }
}

.el-button--primary {
  &:focus {
    outline: none;
  }

  &.is-link {
    min-width: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  --el-button-hover-link-text-color: #495ad4 !important;
}

.export-button {
  svg {
    transform: translate(2px, -60%);
  }
}

.svg-button-hover-color:hover {
  path {
    fill: #495ad4 !important;
  }

  // rect {
  //   stroke: #495ad4 !important;
  // }
}
