.el-date-editor {
  --el-date-editor-datetimerange-width: 294px !important;

  display: inline-flex;

  .el-range-input {
    // width: 42% !important;
    height: 26px !important;
  }

  .el-input__icon,
  .el-range__icon {
    font-size: 24px !important;
  }

  .clear-icon,
  .el-range__close-icon {
    font-size: 14px !important;
  }

  .el-range-separator {
    color: #424561 !important;
    font-weight: 300;
  }
}

.el-range-editor.el-input__wrapper {
  padding: 0 5px !important;
}

.el-date-editor--datetimerange {
  .el-range__icon {
    margin-right: 5.5px;
  }
}

.el-date-range-picker {
  --el-datepicker-off-text-color: #a8abb2 !important;
}
