@import "./pagination";
@import "./date";
@import "./modal";

.el-button {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  color: #656A85 !important;

  &:focus-visible {
    outline: none !important;
  }
}

.el-button--primary{
  color: #fff !important;
}

.el-input-group__prepend, .el-input-group__append{
  background: #F7F8FC !important;
  color: #131926 !important;
  font-weight: 300;
}

.el-input__inner, .el-range-input {
  color: #656A85;
  font-weight: 300;
}
