@import "./pagination";
@import "./date";
@import "./modal";
@import "./button";
@import "./input";
@import "./table";
@import "./collapse";
@import "./step";

:root {
  --el-text-color-regular: #656A85;
  --el-font-weight-primary: 400;
  --el-text-color-primary: #424561;
  --el-component-size: 28px;
  --el-border-radius-base: 2px;
  --el-border-color: #DFE1ED;
  --el-text-color-placeholder: #656A85;
  --el-disabled-bg-color: #F7F8FC;

  // --el-disabled-text-color: #131926;
  // --el-disabled-border-color: #F7F8FC;
}

::-webkit-scrollbar-thumb {
  background: #F0F1FA;
}

::-webkit-scrollbar-thumb:hover {
  background: #DFE1ED;
}

.el-scrollbar{
  --el-scrollbar-bg-color: #F0F1FA !important;
  --el-scrollbar-hover-bg-color: #DFE1ED !important;
}