.el-form--inline .el-input {
  --el-input-width: 100%;
}

.el-input__inner,
.el-range-input,
.el-select__input-wrapper,
.el-select__placeholder {
  color: #424561;
  font-weight: 300;
  font-size: 12px !important;
  line-height: 18px !important;
}

.el-select__input-wrapper {
  font-weight: 400 !important;
}

.el-input__prefix-inner {
  margin-left: -5px !important;

  & > :last-child {
    margin-right: 4px !important;
  }
}

.el-input__inner {
  height: 26px !important;
}

.el-input.is-disabled {
  outline: none;
}

.el-input.is-disabled .el-input__wrapper {
  outline: none;
}

.el-input-group__prepend,
.el-input-group__append {
  background: #f0f1fa !important;
  color: #131926 !important;
  font-weight: 300;

  .el-input__inner {
    color: #131926 !important;
  }
}

.el-input-number__increase,
.el-input-number__decrease {
  width: 14px !important;
}

.el-select {
  height: 28px !important;

  .el-select__wrapper {
    padding: 1px 1px 1px 11px !important;
    line-height: 26px;
    min-height: 28px;
  }

  .el-select__suffix {
    background-color: #f0f1fa;
    height: 26px;
  }

  .el-select__wrapper.is-filterable .el-select__suffix {
    background-color: transparent;
    opacity: 0;
  }

  .el-select__selection {
    flex-wrap: nowrap;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .el-input__wrapper {
    padding-right: 1px !important;
  }

  .el-input__suffix {
    width: 16px;
    background: #f0f1fa;

    .el-input__suffix-inner {
      width: 100%;

      & > :first-child {
        margin-left: 0;
      }
    }
  }

  .el-input__prefix-inner > :last-child {
    margin-right: 0;
  }
}

.el-select-dropdown__item.is-disabled {
  opacity: 0.6;
}

.el-select__tags .el-tag--info {
  background-color: #f0f1fa !important;
  color: #656a85 !important;
  font-weight: 300 !important;
}

.el-select-v2__wrapper {
  padding-right: 16px !important;
  font-weight: 300;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #656a85 !important;

  .el-select-v2__placeholder {
    width: calc(100% - 28px);
    color: #656a85 !important;
  }

  .el-select-v2__suffix {
    height: 26px;
    width: 16px;
    right: 0;
    background: #f0f1fa;
  }
}

.el-select-v2__wrapper,
.el-select-v2__wrapper .el-select-v2__input-wrapper {
  line-height: 28px !important;
}

.el-vl__window {
  .el-select-dropdown__option-item {
    padding: 0 16px !important;

    &.is-selected::after {
      display: none !important;
    }
  }
}

.el-input-number.is-controls-right {
  .el-input-number__increase,
  .el-input-number__decrease {
    --el-input-number-controls-height: 13px !important;
  }

  .el-input__wrapper {
    padding-left: 0 !important;
    padding-right: 14px !important;
  }
}

.el-checkbox {
  height: 28px !important;
}

.el-input-group__append {
  border-left: 0 !important;
  background: #f0f1fa !important;

  .el-select {
    .el-input {
      .el-input__wrapper {
        padding-left: 2px;
      }

      .el-input__inner {
        color: #131926;
        text-align: center;
      }
    }
  }
}

svg:focus {
  outline: none !important;
}

.el-form-item--default .el-form-item__label {
  height: 28px !important;
  color: #131926 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  align-items: center !important;
  position: relative;
  padding: 0 8px 0 0;

  svg {
    transform: translate(-4px, -80%);
  }
}

.el-form-item-not-mandatory .el-form-item__label {
  padding-left: 9px !important;
}

.el-form-item--default .el-form-item__content {
  line-height: 28px !important;
}

.el-textarea__inner {
  color: #424561;
  font-weight: 300 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  padding: 5px 11px !important;
}

.el-input__count {
  color: #a0a3b8 !important;
  transform: scale(0.7);
  position: absolute;
  bottom: -6px;
  right: 0;
}

.el-textarea .el-input__count {
  bottom: 2px !important;
  right: 0 !important;
}

.el-radio__label {
  font-size: 14px !important;
  font-weight: 400;
  line-height: 21px;
  color: #131926;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #131926 !important;
}

.el-color-dropdown__link-btn {
  display: none !important;
}

.el-color-picker__trigger {
  width: 22px !important;
  height: 22px !important;
  padding: 0 !important;
  border-color: #dfe1ed !important;
}

.el-color-picker__color {
  border: none !important;
}

.el-color-picker__mask {
  width: 22px !important;
  height: 22px !important;
  top: 0 !important;
  left: 0 !important;
}

.el-radio {
  height: 28px;
}
