.el-dialog__header {
  border-bottom: 1px solid #DFE1ED;
  padding: 12px 0 6px !important;
  margin: 0 16px !important;
}

.el-dialog__title{
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: #424561 !important;
  display: inline-block;
}

.el-dialog__headerbtn{
  width: 24px !important;
  height: 24px !important;
  top: 12px !important;
  right: 16px !important;

  .el-dialog__close{
    font-size: 20px !important;
  }
}

.el-dialog__body{
  padding: 16px 16px 24px !important;
}

.el-dialog__footer{
  padding: 0 16px 16px !important;
}

.el-message-box__header{
  border-bottom: 1px solid #DFE1ED;
  padding: 12px 0 6px !important;
  margin: 0 16px;
}

.el-message-box__title{
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: #424561 !important;
}

.el-message-box__headerbtn{
  width: 24px !important;
  height: 24px !important;
  top: 12px !important;
  right: 0 !important;
  font-size: 20px !important;
}

.el-message-box__status svg{
  width: 18px !important;
  height: 18px !important;
}

.el-message-box__content{
  padding: 24px 16px 54px !important;
}

.el-popper.is-light{
  color: #424561 !important;
}