.el-step__title {
  font-size: 14px !important;
  line-height: 25px !important;
  font-weight: 700;
}

.el-step.is-horizontal .el-step__line {
  height: 1px !important;
  background-color: #dfe1ed !important;

  // margin: 0 10px !important;marginmarginmarginmarginmarginmarginmargin
}

.el-step__title.is-process {
  color: #495ad4 !important;
}

.el-step__icon.is-text {
  border: 1px solid #dfe1ed !important;
}

.el-step__head.is-process .el-step__icon {
  background: #495ad4;
  color: #fff;
  border-color: transparent !important;
}

.el-step__title.is-wait {
  color: #424561 !important;
}

.el-step__title.is-success {
  color: #495ad4 !important;
}

.el-step__head.is-success,
.el-step__head.is-finish {
  color: #495ad4 !important;
  border-color: #495ad4 !important;

  .el-step__icon {
    background: #495ad4;
    color: #fff;
    border-color: #495ad4 !important;
  }

  .el-step__line {
    background-color: #495ad4 !important;
  }

  .el-step__line-inner {
    display: none !important;
  }
}
