.el-table {
  --el-table-border-color: #dfe1ed !important;
}

.el-table th.el-table__cell {
  color: #424561;
  background: #f0f1fa !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.el-table td.el-table__cell {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #424561;
}

.el-table .sort-caret.ascending {
  border-bottom-color: #a0a3b8 !important;

  // border-width: 0 4px 8px !important;border-width
  // top: -4px !important;top
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #495ad4 !important;
}

.el-table .sort-caret.descending {
  border-top-color: #a0a3b8 !important;

  // border-width: 8px 4px 0 !important;border-width
  // bottom: -2px !important;bottom
}

.el-table .descending .sort-caret.descending {
  border-top-color: #495ad4 !important;
}

.table-sort-column-box .caret-wrapper {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

.el-table__header,
.el-table__body,
.el-table__footer {
  width: 100% !important;
  table-layout: fixed !important;
}

.small-table {
  .el-table__row .el-table__cell {
    padding: 0;
  }
}
